
<div class="table">
    <h2 class="login-header">Log in</h2>
    <table class="table-border">
        <thead>
        <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
        <tr *ngFor="let temp of userData.data | paginate: { itemsPerPage: 2, currentPage: page }" 
        style="border: 2px;">
            <td class="table-border">{{temp.id}}</td>
            <td>
                <img [src]="temp.avatar"/>
            </td>
            <td>{{temp.email}}</td>
            <td>{{temp.first_name}}</td>
            <td>{{temp.last_name}}</td>
            <td>
                <button type="submit" (Click)="editUserData(temp.id)">Edit</button>            
            </td>
        </tr>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

  </div>