
<div class="login">
  <h2 class="login-header">Log in</h2>
  <p>Credential are - 
    email = admin@gmail.com
    password = admin@123;
  </p>

  <form [formGroup]="form" class="login-container" (ngSubmit)="validateLogin(form.value)">

    <p [ngClass]="{ 'has-error': isSubmitted && errorControl.emailId?.errors }">
      <input type="email" placeholder="Email" formControlName="emailId">
    </p>

    <div *ngIf="isSubmitted && errorControl.emailId.errors" class="help-block">
      <div *ngIf="errorControl.emailId.errors?.required">Email is required</div>
      <span *ngIf="errorControl.emailId.errors?.pattern">Incorrect Email Id </span>
    </div>  

    <p [ngClass]="{ 'has-error': isSubmitted && errorControl.Password?.errors }">
      <input type="password" placeholder="Password" formControlName="Password">
    </p>

    <div *ngIf="isSubmitted && errorControl.Password.errors" class="help-block">
      <div *ngIf="errorControl.Password.errors?.required">Password is required</div>
      <div *ngIf="errorControl.Password.errors?.minlength">Minimum Length Should be 6 characters</div>
      <div *ngIf="errorControl.Password.errors?.maxlength">Ma xlength Length Should be 12 characters</div>
    </div>
    

    <p>
      <button type="submit" value="Log in" [disabled]="form.invalid">Log in </button>
    </p>
  </form>
</div>